.frm-cnt{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.frm {
    color: var(--secondary-color);
    background-color: var(--secondary-background-color);
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;

    .frm-row-btn {
        border-spacing: 0 18px;
        input{ margin-right: 10px; }
    }

    input:not([type="submit"]) {
        height: 25px;
        border: 0;
        border-radius: 3px;
        padding-left: 5px;
    
        &[type="date"] {
            width: 97.5%;
            text-align: center;
        }
    }

    input[type="submit"] { margin-top: auto; }

    td:has(input):has(span) input[type="date"] { width: 67% !important; }

    label { 
        display: flex;
        padding-right: 15px;
        width: 100%;
    }

    .frmFile {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

form > fieldset.selector{
    div{
        display: flex;
        flex: 1 1 auto;
        min-width: 150px;
        user-select: none;
        -webkit-user-select: none;
        border: 1px solid var(--form-selector-border-items);
        border-radius: 5px;
        transition: background-color 0.5s ease;

        * { margin: 5px 5px 5px 0; }

        label { 
            flex-grow: 1;
            padding: 5px;
            margin: 0;
            cursor: pointer;
        }

        input[type="checkbox"] {
            display: none;
        }
    }

    div:has(input[type="checkbox"]:checked) {
        background-color: var(--form-selector-checked-items);
    }
}

