.frm-cnt{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frm-cnt2 {
    margin-top: 10px;
}

form > fieldset.selector div.option.errorCondition {
    background-color: #FF4F4A;
    color: var(--primary-color);
    border-color: #FF3A33 !important;
    &:hover { 
        background-color: #e04641; 
        color: var(--primary-color);
    }
}

.frm {
    color: var(--secondary-color);
    background-color: var(--secondary-background-color);
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;

    .frm-row-btn {
        border-spacing: 0 18px;
        input{ margin-right: 10px; }
    }

    input:not([type="submit"]) {
        height: 25px;
        border: 0;
        border-radius: 3px;
        padding-left: 5px;
    
        &[type="date"] {
            width: 97.5%;
            text-align: center;
        }
    }

    input[type="submit"] { margin-top: 5px; }

    td:has(input):has(span) input[type="date"] { width: 67% !important; }

    label { 
        display: flex;
        padding-right: 15px;
        width: 100%;
    }

    .frmFile {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

form > fieldset.selector{
    background-color: var(--table-background-color);
    color: var(--table-color);
    padding: 0 10px;
    margin: 10px 0px 5px 0px;
    border-radius: 5px;

    .dt-paging-button {
        background-color: var(--button-primary-background-color) !important;
        border-radius: 5px !important;
    }

    #dt-search-0 {
        height: 25px;
        margin-left: 10px;
        border: 0;
        border-radius: 3px;
    }

    div.dt-container.dt-empty-footer tbody > tr:last-child > * {
        border-bottom: none !important;
    }

    .dt-layout-row:not(.dt-layout-table) { 
        display: grid;
        grid-template-columns: 1fr 1fr;
        .dt-layout-end { 
            display: flex;
            justify-content: flex-end;
        }
    }

    #dt-length-0, #dt-search-0 {
        background-color: white;
        color: black;
    }

    .dataTable{
        font-family: sans-serif;
        background-color: var(--table-body-background-color);
        color: var(--table-body-color);

        tr > th{
            background-color: var(--table-header-background-color);
            color: var(--table-header-color);
        }
    }

    tbody {
        display: grid;
        grid-template-columns: 1fr 1fr;
        border: 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);

        td { display: flex; }        

        input {
            padding: 0 10px;
            border: 0;
            border-radius: 5px;
        }

        input[type="date"] {
            text-align: center;
        }
    }

    div.option {
        display: flex;
        flex: 1 1 auto;
        min-width: 150px;
        user-select: none;
        -webkit-user-select: none;
        border: 1px solid var(--form-selector-border-items);
        border-radius: 5px;
        transition: background-color 0.5s ease;

        * { margin: 5px 5px 5px 0; }

        label { 
            flex-grow: 1;
            padding: 12px;
            margin: 0;
            cursor: pointer;
        }

        input[type="checkbox"] {
            display: none;
        }

        &:has(input[type="checkbox"]:checked) {
            background-color: var(--form-selector-checked-items);
            color: var(--table-color);
            &:hover {
                background-color: var(--form-selector-checked-hover-items);
            }
        }

        &:hover {
            cursor: pointer;
            user-select: none;
            -webkit-user-select: none;
            color: var(--table-hover-color);
            background-color: var(--table-hover-row-background-color);
        }
    }
}

