.header {
    display: flex;
    color: var(--primary-color);
    background-color: var(--primary-background-color);
    border-radius: 5px;
    padding: 15px;
    align-items: center;
    margin-bottom: 10px;
    min-height: 45px;

    .title {
        margin-right: 10px;
    }

    .actions {
        margin-left: auto;
    }
}