.dataTable{
    font-family: sans-serif;
    background-color: var(--table-body-background-color);
    color: var(--table-body-color);

    tr > th{
        background-color: var(--table-header-background-color);
        color: var(--table-header-color);
    }
}

.tbl-cnt{
    background-color: var(--table-background-color);
    color: var(--table-color);
    padding: 1px 10px;
    margin: 10px 0px -10px 0px;
    border-radius: 5px;
    tr:nth-child(odd) {
        background-color: var(--table-odd-row-background-color);
    }
    tr:hover > td {
        cursor: pointer;
        user-select: none;
        -webkit-user-select: none;
        color: var(--table-hover-color);
        background-color: var(--table-hover-row-background-color);
    }
}

#dt-length-0, #dt-search-0 {
    background-color: white;
    color: black;
}

.dt-paging-button {
    background-color: var(--button-primary-background-color) !important;
    border-radius: 5px !important;
}

.current {
    background-color: var(--button-primary-hover-background-color) !important;
}