.dataTable{
    font-family: sans-serif;
    background-color: var(--table-body-background-color);
    color: var(--table-body-color);

    tr > th{
        background-color: var(--table-header-background-color);
        color: var(--table-header-color);
    }
}

.tbl-cnt{
    background-color: var(--table-background-color);
    color: var(--table-color);
    padding: 1px 10px;
    margin: 10px 0px -10px 0px;
    border-radius: 5px;
    tr:hover > td {
        cursor: pointer;
        user-select: none;
        -webkit-user-select: none;
        color: var(--table-hover-color);
        background-color: var(--table-hover-row-background-color);
    }
}
/*
.tbl {
    font-family: sans-serif;
    border-collapse: collapse;
    color: var(--table-color);
    background-color: var(--table-header-background-color);

    .row-first { background-color: var(--table-first-row-background-color); }

    .row-second { background-color: var(--table-second-row-background-color); }

    .row:hover {
        cursor: pointer;
        user-select: none;
        -webkit-user-select: none;
        color: var(--table-hover-color);
        background-color: var(--table-hover-row-background-color);
    }

    tr {
        td:first-child { padding-left: 7px; }
        td:last-child { padding-right: 7px; }
    }

    th {
        text-transform: uppercase; 
        text-align: center; 
    }

    td { padding: 4px 0; }
}

.tbl-btn {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;

    .tbl-row-del {
        z-index: 1;
    }
}

.tbl-big {
    width: 100%;
    height: 100%;
}*/