.document {
  position: relative;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--pdf-viewer-background);
  overflow-y: scroll;
  height: calc(100vh - 135px);
  
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.documentMinus{
  height: calc(100vh - 172px);
}

.options {
  margin-top: -62px;
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  z-index: 3;
}