@import url('../../styles/button.css');
@import url('../../styles/header.css');
@import url('../../styles/form.css');
@import url('../../styles/window.css');

.edt-ctn{
    display: flex;
    align-content: center;
    justify-content: center;
}

#edt {
    font-family: sans-serif;
    background-color: var(--primary-color);
    border-radius: 5px;
    padding: 20px 10px;
    width: 842px;
    margin-bottom: 40px;
}