/*
*   Paleta de colores: https://paletasdecolores.com/paleta-de-colores-2412/
*/

:root {
    --body-background-color: #b1b6c9;
    --primary-color: #fdfdfd;
    --primary-dark-color: #1F2740;
    --primary-background-color: #013274;
    --secondary-color: #fdfdfd;
    --secondary-background-color: #00abe3;

    --search-color: #fdfdfd;
    --search-background-color: #013274;

    --button-primary-background-color: #457DC8;
    --button-primary-hover-background-color: #7CAFF2;
    --button-secondary-background-color: #838694;
    --button-secondary-hover-background-color: #a3a8b9;
    --button-link-hover-color: #457DC8;

    --table-color: #fdfdfd;
    --table-header-color:#fdfdfd;
    --table-body-color: #1F2740;
    --table-hover-color:#1F2740;
    --table-background-color: #00abe3;
    --table-header-background-color: #457DC8;
    --table-body-background-color: #75a6e6;
    --table-odd-row-background-color: #7eb3f8;
    --table-hover-row-background-color: rgba(0, 0, 0, 0.1);

    --window-header-background-color: #013274;
    --window-background-color: #0000002a;
    --pop-up-background-color: #b1b6c9;
    --pop-up-shadow: black;
}