:root {
    --main-font: 'PDG', sans-serif;
}

@font-face {
    font-family: 'PDG';
    src: url('../../../assets/fonts/Playwrite_DE_Grund/PlaywriteDEGrund-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}