.btn-cnt-rigth {
    text-align: right;
}

.btn-img-cnt {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.btn,
.btn-img {
    all: unset;
    display: inline-block;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    margin: 2px;
    text-align: center;

    &:hover {
        scale: 1.05;
    }

    svg {
        pointer-events: none;
    }
}

.btn {
    transition: all .3s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.btn-img {
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background-size: 60% 60%;
    background-position: center;
    background-repeat: no-repeat;
    flex: 0 0 auto;
}

.btn.btn-main {
    color: var(--primary-color);
    background-color: var(--button-primary-background-color);
    padding: 6px;
    border-radius: 5px;
    padding: 15px 0;
    font-size: 30px;

    &:hover {
        color: var(--primary-dark-color);
        background-color: var(--button-primary-hover-background-color);
    }
}

.btn.btn-primary {
    color: var(--primary-color);
    background-color: var(--button-primary-background-color);
    padding: 6px;
    border-radius: 5px;

    &:hover {
        color: var(--primary-dark-color);
        background-color: var(--button-primary-hover-background-color);
    }
}

input.btn.btn-primary {
    border: 0;
    font-family: var(--main-font);
    font-size: unset;
}

.btn-img.btn-primary {
    color: var(--primary-color);
    background-color: var(--button-primary-background-color);
    border-radius: 5px;

    &:hover {
        color: var(--primary-dark-color);
        background-color: var(--button-primary-hover-background-color);
    }
}

.btn.btn-secondary {
    color: var(--primary-color);
    background-color: var(--button-secondary-background-color);
    padding: 6px;
    border-radius: 5px;

    &:hover {
        color: var(--button-secondary-color);
        background-color: var(--button-secondary-hover-background-color);
    }
}

.btn-img.btn-secondary {
    color: var(--primary-color);
    background-color: var(--button-secondary-background-color);
    border-radius: 5px;

    &:hover {
        color: var(--button-secondary-color);
        background-color: var(--button-secondary-hover-background-color);
    }
}

.btn.btn-link {
    padding: 6px;
    background-color: unset;

    &:hover {
        color: var(--button-link-hover-color);
    }
}

.btn-img.btn-link {
    &:hover {
        color: var(--button-link-hover-color);
    }
}

.btn-fixed-bc {
    position: fixed;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

button.btn.active {
    background-color: var(--button-link-active-background-color);
    color: var(--button-link-active-color);
    border-radius: 3px;
    &:hover {
        background-color: var(--button-link-active-hover-background-color);
        color: var(--button-link-active-hover-color);
    }
}

.btn.btn-float {
    color: var(--primary-color);
    background-color: var(--button-float-background-color);
    border: 1px solid var(--button-float-border-color);
    padding: 6px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 10px var(--button-float-background-color);

    &:hover {
        color: var(--button-primary-color);
        background-color: var(--button-float-hover-background-color);
        transform: scale(1.2);
    }
}